.chatBackground{
    background-color: white;
    width: 100%;
    padding: 0;
    /* min-height: 20vh; */
    height: 100vh;
    
    /* height: 80vh;
    overflow: auto;
    min-height: 100vh;
    max-height: 100vh; */
    /* height: 100%; */
}
.chatScreen{
    max-height: 78vh;
    min-height: 79vh;
    height: 78vh;
    overflow: auto;
}
.noChat{
    /* padding-top: 20%; */
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    color: rgba(176, 170, 177, 0.911);
    font-size: 30px;
    font-weight: bold;
}
.firstDate{
    text-align: center;
    margin-left: 40%;
    margin-top: 10px;
    /* position: sticky;
    top: 5px; */
    background-color: rgba(193, 189, 194, 0.5);
    width: fit-content;
    color: white;
    padding: 5px 15px ;
    border: none;
    border-radius: 4%;
}

